@import blueprint/reset.sass
@import blueprint
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/fancy_type.sass
@import compass/utilities.sass
@import partials/base.sass
@import partials/rounded.sass
//@import partials/menu.sass


// Import separate modules.
+blueprint-typography
+blueprint-utilities
+blueprint-debug
+blueprint-interaction
+blueprint-scaffolding
+blueprint-form
+fancy-type

// Variables
!page_background_color = #fff
!header_background_color = #333

// Start SASSing
#container
	+container

#header, #footer
	+column(24)

#header
	img
		height= 18px * 8

#footer
	:border-top 3px solid #AFAFAF
	#about
		+column(8)
		h3, p
			:padding 0 20px
	#social
		+column(8)
		+border
	#contact
		+column(8,true)
	#pagebar
		+column(24,true)
		+inline-list
		:background-color #333
		:text-align center
		a
			:font-weight bold
			:color #AFAFAF
			:text-decoration none
			:text-transform uppercase
			:padding 0 20px
			:font-size 1em
			&:hover
				:color #FFF

#navigation
	+column(24,true)
	height= 18px * 3
	:text-align center
	#menu
		:margin 0 252px
		:border-top 1px dotted #AFAFAF
		:border-bottom 1px dotted #AFAFAF
	ul
		+inline-list	
		li
			a
				:color #AFAFAF
				:font-weight bold
				:text-decoration none
				:text-transform uppercase
				:padding 0 20px
				:font-size 1.9em
				&:hover
					:color #000000

			

#section-horizontal-spacer
	+column(24,true)
	:height 18px

#main-content
	+column(24, true)

#project
	+column(19)
	//:border 1px solid black
	:margin-bottom 18px
	:height 180px
	#text
		+column(10)
		#name
			:position relative
			+prepend(1)
		#summary	
	#image
		+column(9, true)
		img
			:width 360px
			:height 180px


		
