.sub
	%h1 Who am I?
.breakout
	%p Hi, I am Mark Young, a software developer specializing in web, graphic design, and usability.  I am also highly experienced in system administration and network monitoring.  This is my portfolio site that is still under construction.  Check out its open development on <a href="http://github.com/zarzax/markyoung.me">github</a>.

.sub
	%h1 Hire Me!
.breakout
	%p Download my <a href="/content/resume-base.pdf">resume</a>, email me at <a href="mailto:mark@zarzax.com">mark@zarzax.com</a>, or call me at (651) 560-0108

.sub
	%h1 Want more?
.breakout
	%p I can also be found on my blog <a href="http://www.zarzax.com">www.zarzax.com</a> and <a href="http://www.twitter.com/zarzax">@zarzax</a> on twitter.